<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <td> Bike stop location </td>
    <td> Number of free bikes </td>
    <td> Distance (miles) </td>
    <tr data-th-each="bikeEntry : ${bikeTable}">
        <td data-th-text="${bikeEntry.location}"/>
        <td data-th-text="${bikeEntry.numberBikes}" align="right" />
        <td data-th-text="${bikeEntry.distanceFromCurrentLocation}" align="right" />
    </tr>
</table>
</form>
</body>
</html>